[project]
	description = Desktop Images | Whether ? or ? we need a gorgeous desktop background!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Balamurali Pandranki (itsbalamurali)
[access "refs/for/refs/*"]
	read = group user/Balamurali Pandranki (itsbalamurali)
	push = group user/Balamurali Pandranki (itsbalamurali)
	label-Code-Review = -2..+2 group user/Balamurali Pandranki (itsbalamurali)
	label-Verified = -1..+1 group user/Balamurali Pandranki (itsbalamurali)
	rebase = group user/Balamurali Pandranki (itsbalamurali)
	removeReviewer = group user/Balamurali Pandranki (itsbalamurali)
	submit = group user/Balamurali Pandranki (itsbalamurali)
[access "refs/heads/*"]
	read = group user/Balamurali Pandranki (itsbalamurali)
	create = group user/Balamurali Pandranki (itsbalamurali)
	push = +force group user/Balamurali Pandranki (itsbalamurali)
	pushMerge = group user/Balamurali Pandranki (itsbalamurali)
[access "refs/tags/*"]
	push = +force group user/Balamurali Pandranki (itsbalamurali)
	pushTag = group user/Balamurali Pandranki (itsbalamurali)
	pushSignedTag = group user/Balamurali Pandranki (itsbalamurali)
